@model RapChieuPhim.Models.Loai_ghe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_loai_ghe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_loai_ghe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_ve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_ve)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.loai_ghe_id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
