@model IEnumerable<RapChieuPhim.Models.Suat_chieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách suất chiếu</h2>

<p>
    @Html.ActionLink("Thêm suất chiếu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phim_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.man_hinh_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_chieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gio_bat_dau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gio_ket_thuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rap_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tong_so_ghe_con_lai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phim_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.man_hinh_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_chieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gio_bat_dau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gio_ket_thuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rap_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tong_so_ghe_con_lai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.suat_chieu_id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.suat_chieu_id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.suat_chieu_id }) 
        </td>
    </tr>
}
</table>
