@model RapChieuPhim.Models.Phim

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm phim</h2>

@using (Html.BeginForm("Create", "Phim", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Phim</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ten_phim, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ten_phim, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ten_phim, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.the_loai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.the_loai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.the_loai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.thoi_luong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.thoi_luong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.thoi_luong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mo_ta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mo_ta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mo_ta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngay_khoi_chieu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="ngay_khoi_chieu" id="ngay_khoi_chieu"
                   class="form-control"
                   value="@(Model.ngay_khoi_chieu != null ? Model.ngay_khoi_chieu.Value.ToString("yyyy-MM-dd") : "")" />
            @Html.ValidationMessageFor(model => model.ngay_khoi_chieu, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.diem_danh_gia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.diem_danh_gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.diem_danh_gia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dao_dien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dao_dien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dao_dien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dien_vien_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dien_vien_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dien_vien_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quoc_gia_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quoc_gia_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quoc_gia_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.luot_vote, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.luot_vote, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.luot_vote, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.anh))
            {
                <img src="@Url.Content(Model.anh)" alt="Ảnh hiện tại" style="max-width: 150px; max-height: 150px; margin-bottom: 10px;" />
            }
            <input type="file" name="anh" id="anh" class="form-control" />
            @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.video, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.video))
            {
                <video width="320" height="240" controls style="margin-bottom: 10px;">
                    <source src="@Url.Content(Model.video)" type="video/mp4">
                    Trình duyệt của bạn không hỗ trợ phát video.
                </video>
            }
            <input type="file" name="video" id="video" class="form-control" />
            @Html.ValidationMessageFor(model => model.video, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.anh_video))
            {
                <img src="@Url.Content(Model.anh_video)" alt="Ảnh hiện tại" style="max-width: 150px; max-height: 150px; margin-bottom: 10px;" />
            }
            <input type="file" name="anh_video" id="anh_video" class="form-control" />
            @Html.ValidationMessageFor(model => model.anh_video, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nha_san_xuat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nha_san_xuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nha_san_xuat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-primary" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("Trở về", "Index")
</div>
